<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <div>
    <!--  ingresar evento-->
    <label >INGRESAR EVENTO</label><br>
    <br>
      <label>Titulo</label>
      <input type="text" placeholder="ingrese titulo" [(ngModel)]="datos1.titulo"/><br> 
      <label>Descripcion</label>
      <input type="text" [(ngModel)]="datos1.descripcion"/><br> 
      <label>Direccion</label>
      <input type="text" [(ngModel)]="datos1.direccion"/><br> 
      <label >Disponible</label>
      <input type="checkbox" [(ngModel)]="datos1.disponible"/><br>
  </div>
  <div>
      <label>Fecha</label>
      <input type="date" min="2019-02-01" max="2060-01-01" [(ngModel)]="datos1.fecha"/><br> 
      <label >Hora</label>
      <input type="time" [(ngModel)]="datos1.hora"/><br> 
  </div>
  <div>
    <!-- google maps -->
      <label >Seleccione el lugar del evento </label><br>
           <div id="map" ></div>
                 <label>Coordenadas lugar</label>    <br>
                 <input id="coords" type="text" readonly="readonly"  /><br>
                 <br>
                 <br>
                 <label >Ingresar coordenadas</label> <br>
                 <!-- coordenadas del evento -->
                 <input id="rut" placeholder="copie aqui las coordenadas" type="text" [(ngModel)]="datos1.rutaLugar" /><br>
                 <br>
                 <label >Departamento</label><br>
                     <div >
                            <div class="form-group" >
                              <label for="department"> 
                                
                              </label>
                              <!--lista de departamentos  -->
                                   <select id="department" name="department" [(ngModel)]="datos1.idDepartamento" class="form-control"  >
                                            <option  *ngFor="let dertamentosD of dertamentos" [value]="dertamentosD.id" >
                                          {{dertamentosD.nombre}}
                                            </option>
                                  </select>
                                    <br>
                                    <br>
                           </div>
                     </div>
                  
                  <button (click)="Agregar()">Agregar</button>
  </div>
 <br>
 <br>
 <!-- mostrar todos los eventos  -->
  <label >LISTAR EVENTOS</label>
    <div>
          <h2>Lista de datos</h2>
               <ul>
                <li *ngFor= "let datos of datos">
                      <h2>Titulo: {{datos.titulo}}</h2>
                      <h2>Descripcion: {{datos.descripcion}}</h2>
                      <h2>Direccion: {{datos.direccion}}</h2>
                      <h2>Fecha: {{datos.fecha}}</h2>
                      <h2>hora: {{datos.hora}}</h2>
                      <h2>Disponible: {{datos.disponible}}</h2>
                      <h2>Ruta Lugar: {{datos.rutaLugar}}</h2>
                      <h2>IdDepartamento: {{datos.idDepartamento}}</h2>
                </li>
              </ul>
    </div>   
    <div>
          <LAbel>ACTUALIZAR EVENTO (MODIFICAR)</LAbel> <br>
          <label >lista eventos</label>
          <label >haga click en el nombre del evento a modificar</label>
          <br>
              <ul>
                <!-- al hacer clic en el titulo rellenas los input con los datos -->
                     <li *ngFor= "let datosM of datos">
                      <h2 id="llamada" (click)=datosclicked(datosM) > {{datosM.titulo}}</h2> 
                     </li>       
                </ul>
            titulo<input  type="text" [(ngModel)]="seleccionarEvento.titulo"/><br> 
            direccion<input type="text" [(ngModel)]="seleccionarEvento.direccion"/><br> 
            descripcion<input type="text" [(ngModel)]="seleccionarEvento.descripcion"/><br> 
            disponible<input type="checkbox" [(ngModel)]="seleccionarEvento.disponible"/><br> 
            fecha<input type="date" [(ngModel)]="seleccionarEvento.fecha"/><br> 
            hora<input type="time" [(ngModel)]="seleccionarEvento.hora"/><br> 
            ruta<input type="text" [(ngModel)]="seleccionarEvento.rutaLugar"/><br>
            calificacion<input type="text" [(ngModel)]="seleccionarEvento.calificacionP"/><br> 
            <label >cambiar el nombre departamento por la id</label>
            deptartamento<input id="ocultar" type="text" [(ngModel)]="seleccionarEvento.idDepartamento"/><br> <!-- * comentarla* -->
            <div >
                <div class="form-group" >
                  <label for="departmentA"> 
                    departamento
                  </label>
                  <!--lista de departamentos  -->
                       <select id="departmentA" name="departmentA" [(ngModel)]="seleccionarEvento.idDepartamento" class="form-control"  >
                                <option  *ngFor="let dertamentosAs of dertamentos" [value]="dertamentosAs.id" >
                              {{dertamentosAs.nombre}}
                                </option>
                      </select>
                        <br>
                        <br>
               </div>
         </div>
              <br>
    </div>
    <button (click)="actualizarEvento()">acualizar</button><!-- actualizar evento -->
    <div>
        <label> BORRAR EVENTO</label>
        <button (click)="borrarEvento">borar evento</button> <!-- sin programar -->
    </div>
     <br>
     <br>
     <ul>
     <li *ngFor= "let datosD of datos">
      <h2  (click)=datosclicked(datosD) > {{datosD.titulo}}</h2> 
     </li> 
    </ul>      
    <label for="codigoIma" >Titulo del evento</label><br>
    <input readonly="readonly"  type="text" [(ngModel)]="seleccionarEvento.titulo"/><br> 
    <label for="codigoIma" >Codigo del evento</label><br>
    <input id=cod readonly="readonly" type="text" [(ngModel)]="seleccionarEvento.codigo"/><br> 
     <br>
      <label >Cargar imagen</label><br>
      <input type="file" (change)="cargandoImagen($event.target.files,seleccionarEvento.codigo)" >

       
   
           
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


